.no-margin {
  margin: 0;
}

.orange-link {
  color: #f05f40;
}

header a {
  color: rgba(255, 255, 255, 0.7);
}

section a {
  color: #333
}

.auto-margin {
  margin: 0 auto;
}

.bottom-top {
  border-top: 1px solid #eee;
}